.DS_Store

# Python cache files
__pycache__/
*.pyc

# Jupyter checkpoint files
.ipynb_checkpoints/

# VS Code/Jupyter temporary files
.virtual_documents/

# Anaconda project files
anaconda_projects/
*.las
*.laz
*.tif
*.tiff
data/LiDAR/
